@model mvc_tutorial_restart.Models.AdminLogin

@{
    Layout = "~/Views/Shared/_AdminNav.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Configuration</title>
</head>
<body>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken();
        @Html.ValidationSummary(false, "", new { @class = "text-danger" })

        <fieldset>
            <legend>Discogs</legend>
            Enable Discogs ?:  
        </fieldset>
    }
</body>
</html>
