@using mvc_tutorial_restart.Models;
@model Tuple<AdminLogin,List<Admin>>

@{
    Layout = "~/Views/Shared/_AdminNav.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Configuration</title>
</head>
<body>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken();
        @Html.ValidationSummary(false, "", new { @class = "text-danger" })

        <fieldset>
            <legend>Discogs</legend>
            @*Checks List<Admin> Model. Note that this could have a side effect where the list is longer than 1 item.  *@

            @{ 
                foreach (Admin item in Model.Item2)
                {
                    ViewBag.Display = item.Discogs ? "Disable" : "Enable";
                }
            }

          @ViewBag.Display Discogs Album Art:&nbsp; &nbsp;<input type="checkbox" />&nbsp; &nbsp;&nbsp; &nbsp; 
            <input type="submit" value="Update" class="btn btn-default"/>
        </fieldset>
    }
</body>
</html>
