@using mvc_tutorial_restart.Models;
@model Tuple<AdminLogin,List<Admin>>

@{
    Layout = "~/Views/Shared/_AdminNav.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Configuration</title>
</head>
<body>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken();
        @Html.ValidationSummary(false, "", new { @class = "text-danger" })

        <fieldset>
            <legend>Discogs</legend>
            @*The follow works as thus: using the passed tuple from the controller, it matches username property from AdminLogin to the Admin classes' Admin_Login property, then uses the single or default method to extract the bool value from the album class. Once the value is extracted, it is then evaluated for it's value. Note it is still bugged as it actually evaluating if the item exists thus it always returns 'true' *@

            @{ 
                foreach (Admin item in Model.Item2)
                {
                    ViewBag.Display = item.Discogs ? "Disable" : "Enable";
                }
            }

          @ViewBag.Display Discogs Album Art:&nbsp; &nbsp;<input type="checkbox" />&nbsp; &nbsp;&nbsp; &nbsp; 
            <input type="submit" value="Update" class="btn btn-default"/>
        </fieldset>
    }
</body>
</html>
